%home-layout {
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-right: 60px;
  padding-left: $spacing--15;
  background-color: $color-secondary--1;
  color: $color-font;

  @include media(sm) {
    padding-right: 120px;
    padding-left: $spacing--50;
  }
}
